In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
from sklearn.metrics import accuracy_score
from sklearn.svm import SVC
import pandas as pd
import tensorflow as tf

# Import our input dataset
tele_df = pd.read_csv('bank_telemarketing.csv')
tele_df.head()

,Age,Job,Marital_Status,Education,Default_Credit,Housing_Loan,Personal_Loan,Subscribed
0,56,other,married,Primary_Education,no,no,no,no
1,37,services,married,Secondary_Education,no,yes,no,no
2,40,admin,married,Primary_Education,no,no,no,no
3,56,services,married,Secondary_Education,no,no,yes,no
4,59,admin,married,Professional_Education,no,no,no,no

In [2]:
# Generate our categorical variable list
tele_cat = tele_df.dtypes[tele_df.dtypes == "object"].index.tolist()


# Check the number of unique values in each column
tele_df[tele_cat].nunique()

Job               9
Marital_Status    3
Education         4
Default_Credit    2
Housing_Loan      2
Personal_Loan     2
Subscribed        2
dtype: int64

In [3]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(tele_df[tele_cat]))

# Add the encoded variable names to the dataframe
encode_df.columns = enc.get_feature_names(tele_cat)
encode_df.head()

,Job_admin,Job_blue-collar,Job_entrepreneur,Job_management,Job_other,Job_retired,Job_self-employed,Job_services,Job_technician,Marital_Status_divorced,...,Education_Secondary_Education,Education_Tertiary_Education,Default_Credit_no,Default_Credit_yes,Housing_Loan_no,Housing_Loan_yes,Personal_Loan_no,Personal_Loan_yes,Subscribed_no,Subscribed_yes
0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0
2,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0
4,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0

In [4]:
tele_df = tele_df.merge(encode_df, left_index=True, right_index=True)
tele_df = tele_df.drop(tele_cat,1)
tele_df.head(10)

,Age,Job_admin,Job_blue-collar,Job_entrepreneur,Job_management,Job_other,Job_retired,Job_self-employed,Job_services,Job_technician,...,Education_Secondary_Education,Education_Tertiary_Education,Default_Credit_no,Default_Credit_yes,Housing_Loan_no,Housing_Loan_yes,Personal_Loan_no,Personal_Loan_yes,Subscribed_no,Subscribed_yes
0,56,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0
1,37,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0
2,40,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0
3,56,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0
4,59,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0
5,24,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0
6,25,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0
7,25,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0
8,29,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0
9,57,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0

In [5]:
y = tele_df.Subscribed_yes.values
X = tele_df.drop(['Subscribed_yes','Subscribed_no'],1).values

X_train, X_test, y_train, y_test = train_test_split(X,y,random_state=42, stratify=y)

scaler = StandardScaler().fit(X_train)

X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [6]:
#Test using svm
svm = SVC(kernel='linear')

svm.fit(X_train,y_train)

SVC(kernel='linear')

In [7]:
y_pred = svm.predict(X_test_scaled)
print(f'SVM Accuracy: {accuracy_score(y_test, y_pred)}')

SVM Accuracy: 0.873490813648294

In [8]:
#test using NN
nn = tf.keras.models.Sequential()
low = tf.keras.layers.Dense
ni = len(X_train_scaled[0])
hl1 = 10
hl2= 5

nn.add(low(units=hl1, input_dim=ni,activation='relu'))

nn.add(low(units=hl2, activation='relu'))

nn.add(low(units=1,activation='sigmoid'))

nn.compile(loss='binary_crossentropy',metrics=['accuracy'], optimizer = 'adam')

In [9]:
#train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=50)

model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose=2)
print(f'Loss: {model_loss}, Acc: {model_accuracy}')

Epoch 1/50
715/715 [==============================] - ETA: 0s - loss: 0.5436 - accuracy: 0.76 - 1s 599us/step - loss: 0.5400 - accuracy: 0.7679
Epoch 2/50
715/715 [==============================] - 0s 626us/step - loss: 0.3677 - accuracy: 0.8750
Epoch 3/50
715/715 [==============================] - 0s 632us/step - loss: 0.3679 - accuracy: 0.8741
Epoch 4/50
715/715 [==============================] - 0s 644us/step - loss: 0.3702 - accuracy: 0.8738
Epoch 5/50
715/715 [==============================] - 0s 592us/step - loss: 0.3725 - accuracy: 0.8727
Epoch 6/50
715/715 [==============================] - 0s 585us/step - loss: 0.3706 - accuracy: 0.8719
Epoch 7/50
715/715 [==============================] - 0s 592us/step - loss: 0.3619 - accuracy: 0.8761
Epoch 8/50
715/715 [==============================] - 0s 616us/step - loss: 0.3646 - accuracy: 0.8744
Epoch 9/50
715/715 [==============================] - 0s 598us/step - loss: 0.3665 - accuracy: 0.8739
Epoch 10/50
715/715 [==============================] - 0s 583us/step - loss: 0.3674 - accuracy: 0.8736
Epoch 11/50
715/715 [==============================] - 0s 588us/step - loss: 0.3727 - accuracy: 0.8685
Epoch 12/50
715/715 [==============================] - 0s 618us/step - loss: 0.3717 - accuracy: 0.8709
Epoch 13/50
715/715 [==============================] - 0s 587us/step - loss: 0.3633 - accuracy: 0.8744
Epoch 14/50
715/715 [==============================] - 0s 595us/step - loss: 0.3602 - accuracy: 0.8761
Epoch 15/50
715/715 [==============================] - 0s 590us/step - loss: 0.3625 - accuracy: 0.8744
Epoch 16/50
715/715 [==============================] - 0s 573us/step - loss: 0.3712 - accuracy: 0.8702
Epoch 17/50
715/715 [==============================] - 0s 566us/step - loss: 0.3673 - accuracy: 0.8719
Epoch 18/50
715/715 [==============================] - 0s 567us/step - loss: 0.3671 - accuracy: 0.8723
Epoch 19/50
715/715 [==============================] - 0s 598us/step - loss: 0.3596 - accuracy: 0.8756
Epoch 20/50
715/715 [==============================] - 0s 590us/step - loss: 0.3668 - accuracy: 0.8723
Epoch 21/50
715/715 [==============================] - 0s 587us/step - loss: 0.3701 - accuracy: 0.8694
Epoch 22/50
715/715 [==============================] - 0s 564us/step - loss: 0.3605 - accuracy: 0.8749
Epoch 23/50
715/715 [==============================] - 0s 563us/step - loss: 0.3678 - accuracy: 0.8696
Epoch 24/50
715/715 [==============================] - 0s 605us/step - loss: 0.3646 - accuracy: 0.8724
Epoch 25/50
715/715 [==============================] - 0s 598us/step - loss: 0.3624 - accuracy: 0.8740
Epoch 26/50
715/715 [==============================] - 0s 636us/step - loss: 0.3566 - accuracy: 0.8777
Epoch 27/50
715/715 [==============================] - 0s 599us/step - loss: 0.3714 - accuracy: 0.8690
Epoch 28/50
715/715 [==============================] - 0s 587us/step - loss: 0.3672 - accuracy: 0.8705
Epoch 29/50
715/715 [==============================] - 0s 564us/step - loss: 0.3658 - accuracy: 0.8724
Epoch 30/50
715/715 [==============================] - 0s 573us/step - loss: 0.3601 - accuracy: 0.8748
Epoch 31/50
715/715 [==============================] - 0s 571us/step - loss: 0.3677 - accuracy: 0.8718
Epoch 32/50
715/715 [==============================] - 0s 566us/step - loss: 0.3608 - accuracy: 0.8736
Epoch 33/50
715/715 [==============================] - 0s 597us/step - loss: 0.3681 - accuracy: 0.8705
Epoch 34/50
715/715 [==============================] - 0s 563us/step - loss: 0.3546 - accuracy: 0.8771
Epoch 35/50
715/715 [==============================] - 0s 571us/step - loss: 0.3619 - accuracy: 0.8740
Epoch 36/50
715/715 [==============================] - 0s 562us/step - loss: 0.3713 - accuracy: 0.8684
Epoch 37/50
715/715 [==============================] - 0s 566us/step - loss: 0.3592 - accuracy: 0.8756
Epoch 38/50
715/715 [==============================] - 0s 571us/step - loss: 0.3646 - accuracy: 0.8712
Epoch 39/50
715/715 [==============================] - 0s 563us/step - loss: 0.3678 - accuracy: 0.8701
Epoch 40/50
715/715 [==============================] - 0s 571us/step - loss: 0.3572 - accuracy: 0.8757
Epoch 41/50
715/715 [==============================] - 0s 580us/step - loss: 0.3550 - accuracy: 0.8768
Epoch 42/50
715/715 [==============================] - 0s 599us/step - loss: 0.3633 - accuracy: 0.8736
Epoch 43/50
715/715 [==============================] - 0s 627us/step - loss: 0.3622 - accuracy: 0.8733
Epoch 44/50
715/715 [==============================] - 0s 590us/step - loss: 0.3597 - accuracy: 0.8752
Epoch 45/50
715/715 [==============================] - 0s 622us/step - loss: 0.3572 - accuracy: 0.8749
Epoch 46/50
715/715 [==============================] - 0s 613us/step - loss: 0.3611 - accuracy: 0.8736
Epoch 47/50
715/715 [==============================] - 0s 619us/step - loss: 0.3657 - accuracy: 0.8704
Epoch 48/50
715/715 [==============================] - 0s 594us/step - loss: 0.3601 - accuracy: 0.8736
Epoch 49/50
715/715 [==============================] - 0s 583us/step - loss: 0.3597 - accuracy: 0.8725
Epoch 50/50
715/715 [==============================] - 0s 587us/step - loss: 0.3655 - accuracy: 0.8717
239/239 - 0s - loss: 0.3675 - accuracy: 0.8735
Loss: 0.367456316947937, Acc: 0.8734908103942871